
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>
                <a href="@Url.Action("Trumpet","Home")">
                    <img src="~/Content/Images/Trumpet.jpeg" class="RentalPics" alt="Trumpet">
                </a>
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <a href="@Url.Action("Trombone","Home")">
                    <img src="~/Content/Images/Trombone.jpeg" class="RentalPics" alt="Trombone">
                </a>
            </p>
        </div>
    </div>
        <br /><br />
    <div class="row">
        <div class="col-lg-6">
            <p>
                <a href="@Url.Action("Tuba","Home")">
                    <img src="~/Content/Images/Tuba.jpeg" class="RentalPics" alt="Tuba">
                </a>
            </p>
        </div>

        <div class="col-lg-6">
            <p>
                <a href="@Url.Action("Clarinet","Home")">
                    <img src="~/Content/Images/Clarinet.jpeg" class="RentalPics" alt="Clarinet">
                </a>
            </p>
        </div>
    </div>
        <br /><br />
    <div class="row">
        <div class="col-lg-6">
            <p>
                <a href="@Url.Action("Flute","Home")">
                    <img src="~/Content/Images/Flute.jpeg" class="RentalPics" alt="Flute">
                </a>
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <a href="@Url.Action("Saxophone","Home")">
                    <img src="~/Content/Images/Saxophone.jpeg" class="RentalPics" alt="Saxophone">
                </a>
            </p>
        </div>
    </div>
</div>

